*{
    padding: 20px;
    margin-left: 70px;
}
td{
    padding: 40px;
    
}
.white{
    background-color: white;

}
.black{
    background-color: black;
}
table{
    border: 2px solid;
    border-collapse: collapse;
}